.cabecalho__menu-hamburguer{
    width: 24px;
    height: 24px;
    background-image: url("../img/Menu.svg");
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center;
}

.cabecalho{
    background-color:red;
display: flex;
justify-content: space-between;
align-items:center ;
position:relative ;
}

.container{
    display: flex;
    align-items: center;
}
.container__imagem{
    padding: 1em;
}

.lista-menu{
    display: none;
    position: absolute;
    top:100%;
    background-color: var(--branco);
    width: 60vw;
}
.container__botao{
    display:none
}
.container__botao:checked~.lista-menu{
    display: block;
}
.lista-menu__item{
    background: var(--branco);
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-transform: uppercase;
}
.lista-menu__titulo, .lista-menu__item{
    padding: 1em;
    background-color: var(--branco);
}
 @media screen and (min-width:1024px);{

   .titulo_cabeçalho{
    font-size:30px;
    font-family: var(--font-secundaria);
    color: rgb(72, 0, 255);
  display: block;
  padding-top: 1em;
   }
   .cabecalho{
    background-color: aqua;
   }

   
}
